<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Caption Generator</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 20px;
        }

        #upload-container {
            margin: 20px;
        }

        #output-container {
            margin-top: 20px;
        }

        #loading {
            display: none;
        }
    </style>
</head>

<body>
    <h1> Vrudit Patel</h1>
    <h1>Image Caption Generator</h1>

    <div id="upload-container">
        <input type="file" id="imageInput" accept="image/*">
        <button onclick="uploadImage()">Generate Caption</button>
    </div>

    <div id="loading">
        <p>Loading...</p>
    </div>

    <div id="output-container">
        <p id="caption"></p>
    </div>

    <script>
        function uploadImage() {
            var input = document.getElementById('imageInput');
            var file = input.files[0];

            if (file) {
                var formData = new FormData();
                formData.append('image', file);

                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/predict', true);

                xhr.upload.onloadstart = function () {
                    document.getElementById('loading').style.display = 'block';
                };

                xhr.onload = function () {
                    if (xhr.status === 200) {
                        var response = JSON.parse(xhr.responseText);
                        document.getElementById('caption').innerHTML = response.caption;
                    } else {
                        alert('Error: ' + xhr.status);
                    }
                    document.getElementById('loading').style.display = 'none';
                };

                xhr.send(formData);
            } else {
                alert('Please select an image.');
            }
        }
    </script>
</body>

</html>
